
#####################################################################
#	Probe
#####################################################################

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
# home_xy_position: 230.5, 350
home_xy_position: 229.5, 350
# home_xy_position: -10,-10
speed: 100
z_hop: 5
   

[probe]
pin: ^PA3
x_offset: 0
#y_offset: 25.0
y_offset: 17.5
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


## BED MESH
[bed_mesh]
speed: 800  # 300
horizontal_move_z: 10  # 9
mesh_min: 40, 40
mesh_max: 310, 310
fade_start: 0.6
fade_end: 10.0
# probe_count: 5, 5
probe_count: 7, 7
algorithm: bicubic
# relative_reference_index: 12
relative_reference_index: 24    # (points - 1 ) / 2


## QGL
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 350mm Build
##	Uncomment for 350mm build
gantry_corners:
	-60, -10
	410, 420
##	Probe points
points:
	50, 25
	50, 275
	300, 275
	300, 25

#--------------------------------------------------------------------
# speed: 250
speed: 800
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


## klipper z calibration
[z_calibration]
#   The X and Y coordinates (in mm) for clicking the nozzle on the Z endstop.
# probe_nozzle_x: 230.5
probe_nozzle_x: 229.5
probe_nozzle_y: 350

#   The X and Y coordinates (in mm) for clicking the probe's switch on the Z endstop.
# probe_switch_x: 231.00
# probe_switch_y: 329.00

# this was for the body of the switch and not the switch itself
# probe_switch_x: 225.50
# probe_switch_y: 328.50
probe_switch_x: 222.5
probe_switch_y: 335.5

#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
# probe_bed_x: default from relative_reference_index of bed_mesh
# probe_bed_y: default from relative_reference_index of bed_mesh
probe_bed_x: 175
probe_bed_y: 175

#   The trigger point offset of the used mag-probe switch.
#   This needs to be find out manually. More on this later
#   in this section..
switch_offset: 0.5
# switch_offset: 0.596
# switch_offset: 0.3
# switch_offset: 0.32      # Decreasing will move the nozzle farther away from the bed

#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
# max_deviation: 1.0
max_deviation: 2.2

#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
#samples: default from "probe:samples" section

#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
#samples_tolerance: default from "probe:samples_tolerance" section

#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
#samples_tolerance: default from "probe:samples_tolerance" section

#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
#samples_tolerance_retries: default from "probe:samples_tolerance_retries" section

#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
#samples_result: default from "probe:samples_result" section

#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
#clearance: 2 * z_offset from the "probe:z_offset" section
# clearance: 1.0
clearance: 15

#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
#position_min: default from "stepper_z:position_min" section.

#   The moving speed in X and Y. The default is 50 mm/s.
# speed: 50
speed: 300

#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
#lift_speed: default from "probe:lift_speed" section

#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
#probing_speed: default from "stepper_z:homing_speed" section.

#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
#probing_second_speed: default from "stepper_z:second_homing_speed" section.
probing_second_speed: 5

#   Distance to backoff (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
#probing_retract_dist: default from "stepper_z:homing_retract_dist" section.
probing_retract_dist: 1.5

#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
probing_first_fast: true


[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
  M117 Z-Calibration..
  #_SET_LOWER_STEPPER_CURRENT  # I lower the stepper current for homing and probing 
  ATTACH_PROBE         # a macro for fetching the probe first
  BASE_CALIBRATE_Z
  DOCK_PROBE           # and parking it afterwards
  M117